@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #7bdaf3;
}

.notes {
  background-color: #fff;
  margin: 23px;
  height: 400px;
  width: 400px;
  border-radius: 5px;
}

.notes .tools {
  background-color: #9ec862;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.notes .tools button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  outline: none;
}

.notes .tools button:hover {
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}

.notes .main {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.notes textarea {
  font-family: inherit;
  width: 100%;
  height: 400px;
  outline: none;
  border: none;
}

.notes .hidden {
  display: none;
}

.add:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.add {
  right: 10px;
  top: 10px;
  position: fixed;
  margin: 5px;
  padding: auto 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  background-color: #9ec862;
  font-size: 1rem;
  width: 7rem;
  cursor: pointer;
}

.add p {
  padding-left: 10px;
}
